<app-places-container title="Your favorite places">
  
@if(isFetching() && !error()){
  <p class="fallback-text">Fetching avaliable places...</p>
}
@if(error()){
  <p class="fallback-text">{{error()}}</p>
}
<app-places-container title="Available Places">
    @if (places()) {
    <app-places [places]="places()!" (selectPlace)="onSelectPlace($event)" />
    } @else if (places()?.length === 0) {
    <p class="fallback-text">Unfortunately, no places could be found.</p>
    }
  </app-places-container>
  